<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
    <h4>{{event?.name | uppercase}}</h4>
    <div>Date: {{event?.date |date}}</div>
    <div [style.color]="event?.time === '8:00 am' ? 'green' : '#bbb' " [ngClass]="{red: event?.time === '10:00 am', bold: event?.time === '10:00 am'}" [ngSwitch]="event?.time"> Time: {{event?.time}}
    <!-- <div [class.green]="event?.time === '8:00 am'" [ngClass]="{red: event?.time === '10:00 am', bold: event?.time === '10:00 am'}" [ngSwitch]="event?.time"> Time: {{event?.time}} -->
    <!-- <div [ngClass]="getStartTimeClass()" [ngSwitch]="event?.time"> Time: {{event?.time}} -->
        <span *ngSwitchCase="'8:00 am'">( Early Start )</span>
      <span *ngSwitchCase="'10:00 am'">( Late Start )</span>
      <span *ngSwitchDefault>( Normal Start )</span>
    </div>
    <div>Price: {{event?.price | currency:'USD'}}</div>
    <div *ngIf="event?.location">
      <br>
      <span>Location: {{event?.location?.address}}, </span>
      <br>
      <span class="pad-left">City: {{event?.location?.city}}, Country: {{event?.location?.country}}</span>
    </div>
    <div [hidden]="!event?.onlineURL">Online Url: {{event?.onlineURL}}</div>
  
    <!-- <button class="btn btn-primary" (click)="handleClickMe()">Click ME</button> -->
  </div>
